// VARIABLES

// Colores
$color-fondo-gris-orscuro: #1E1E1E;
$color-gris-claro: #CCCCCC;
$color-principal-purple: #A448FE;
$color-secundario-amarillo: #F4F12D;
$color-blanco-sutil: #F5F5F5;

// Fuentes
$fuente-titulo: bebas neue;
$fuente-secundaria: montserrat;